{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
        }
        
        html,
        body,
        header,
        .carousel {
            height: 60vh;
        }
        
        @media (max-width: 740px) {
            html,
            body,
            header,
            .carousel {
                height: 100vh;
            }
        }
        
        @media (min-width: 800px) and (max-width: 850px) {
            html,
            body,
            header,
            .carousel {
                height: 100vh;
            }
        }
        
        .container {
            margin-top: 10px;
        }
        
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
        }
        
        .img-zoom-container {
            position: relative;
        }
        
        .img-zoom-lens {
            position: absolute;
            border: 1px solid #d4d4d4;
            /*set the size of the lens:*/
            width: 90px;
            height: 90px;
        }
        
        .img-zoom-result {
            border: 1px solid #d4d4d4;
            /*set the size of the result div:*/
            width: 500px;
            height: 600px;
        }
    </style>
    <script>
        function imageZoom(imgID, resultID) {
            var img, lens, result, cx, cy;
            img = document.getElementById(imgID);
            result = document.getElementById(resultID);
            /*create lens:*/
            lens = document.createElement("DIV");
            lens.setAttribute("class", "img-zoom-lens");
            /*insert lens:*/
            img.parentElement.insertBefore(lens, img);
            /*calculate the ratio between result DIV and lens:*/
            cx = result.offsetWidth / lens.offsetWidth;
            cy = result.offsetHeight / lens.offsetHeight;
            /*set background properties for the result DIV:*/
            result.style.backgroundImage = "url('" + img.src + "')";
            result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
            /*execute a function when someone moves the cursor over the image, or the lens:*/
            lens.addEventListener("mousemove", moveLens);
            img.addEventListener("mousemove", moveLens);
            /*and also for touch screens:*/
            lens.addEventListener("touchmove", moveLens);
            img.addEventListener("touchmove", moveLens);

            function moveLens(e) {
                var pos, x, y;
                /*prevent any other actions that may occur when moving over the image:*/
                e.preventDefault();
                /*get the cursor's x and y positions:*/
                pos = getCursorPos(e);
                /*calculate the position of the lens:*/
                x = pos.x - (lens.offsetWidth / 2);
                y = pos.y - (lens.offsetHeight / 2);
                /*prevent the lens from being positioned outside the image:*/
                if (x > img.width - lens.offsetWidth) {
                    x = img.width - lens.offsetWidth;
                }
                if (x < 0) {
                    x = 0;
                }
                if (y > img.height - lens.offsetHeight) {
                    y = img.height - lens.offsetHeight;
                }
                if (y < 0) {
                    y = 0;
                }
                /*set the position of the lens:*/
                lens.style.left = x + "px";
                lens.style.top = y + "px";
                /*display what the lens "sees":*/
                result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
            }

            function getCursorPos(e) {
                var a, x = 0,
                    y = 0;
                e = e || window.event;
                /*get the x and y positions of the image:*/
                a = img.getBoundingClientRect();
                /*calculate the cursor's x and y coordinates, relative to the image:*/
                x = e.pageX - a.left;
                y = e.pageY - a.top;
                /*consider any page scrolling:*/
                x = x - window.pageXOffset;
                y = y - window.pageYOffset;
                return {
                    x: x,
                    y: y
                };
            }
        }
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark black scrolling-navbar">
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand waves-effect" href="#" target="_blank">
                <strong class="cyan-text">Fashioner</strong>
            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect" href="{% url 'home' %}">Home
              <span class="sr-only">(current)</span>
            </a>
                    </li>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">All
                <span class="sr-only">(current)</span>
              </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Men</a>

                            <ul class="dropdown-menu">
                            {% for category in men %}
                                <li><a href="category/{{category.category_id}}">{{category.category_name}}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Women</a>

                            <ul class="dropdown-menu">
                            {% for category in women %}
                                <li><a href="category/{{category.category_id}}">{{category.category_name}}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Kids</a>

                            <ul class="dropdown-menu">
                            {% for category in boys %}
                                <li><a href="category/{{category.category_id}}">{{category.category_name}}</a></li>
                            {% endfor %}
                            <hr>
                            {% for category in girls %}
                                <li><a href="category/{{category.category_id}}">{{category.category_name}}</a></li>
                            {% endfor %}
                            </ul>
                        </li>

                    </ul>
                    <!-- Links -->
                </ul>

                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="{% url 'cart' %}">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="clearfix d-none d-sm-inline-block">Cart</span>
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="{% url 'wishlist' %}">
                            <i class="far fa-heart"></i>
                            <span class="clearfix d-none d-sm-inline-block">Wishlist</span>
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="{% url 'profile' %}">
                            <i class="fas fa-user-circle"></i>
                            <span class="clearfix d-none d-sm-inline-block">Profile</span>
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="{%url 'logout' %}" onclick="">
                            <span class="clearfix d-none d-sm-inline-block">logout</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <div style="padding-left: 35px; padding-top:75px;">
        <h2>Product Details</h2>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-8 img-zoom-container" style="display: flex;align-items: center;">
                <img id="myimage" src="{{product.image1}}" width="500" height="600">
                <div id="myresult" class="img-zoom-result"></div>
            </div>
            <div class="col-3">
                <div>HERE&NOW<br/>{{product.product_name}}</div>
                <hr><br/>
                <center>
                    <h2>{{product.price}}</h2>
                    <h5>inclusive all taxes</h5><br/>
                    <button type="button" class="p-2 btn btn-danger">Add to cart</button>
                    <button type="button" class="btn btn-light">Wishlist</button>
                </center>
                <div>
                    <br>
                    <h2>Product Details</h2>
                    <p>{{product.description}}</p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit iure atque, non deleniti quod nam, modi optio odit voluptas quaerat praesentium error totam accusamus ab rem, distinctio facere aperiam nostrum.
                    </p>
                </div>
            </div>
        </div>

        <div class=" col">
            <br/>
            <img id="myimage" src="{{product.image2}}" width="500" height="600">
            <img id="myimage" src="{{product.image3}}" width="500" height="600">
        </div>
    </div>

    <script>
        // Initiate zoom effect:
        imageZoom("myimage", "myresult");
    </script>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>


</html>