{% extends "admin/base.html" %} {% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %} {% block extrastyle %}
<style>
    #header {
        background-color: black;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    
    body {
        margin: 0;
        font-size: 14px;
        font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        color: #333;
        /* background: #E8E8E8; */
        background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.jpg');
    }
    
    div.breadcrumbs {
        background: #79aec8;
        padding: 10px 40px;
        border: none;
        margin-bottom: 20px;
        font-size: 14px;
        color: #c4dce8;
        text-align: left;
    }
    /* fashionername */
    /* table data and rows */
    
    td,
    th {
        font-size: 17px;
        line-height: 16px;
        font-weight: normal;
        border-bottom: 1px solid #eee;
        vertical-align: top;
        padding: 16px;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    }
    
    #branding h1 a:link,
    #branding h1 a:visited {
        color: #00FFFF;
    }
    
    .module {
        border: none;
        margin-bottom: 30px;
        background: none;
    }
    
    .module h2,
    .module caption,
    .inline-group h2 {
        margin: 0;
        padding: 8px;
        width: auto;
        font-size: 17px;
        text-align: left;
        background-color: #0a0a0a;
        color: #fff;
    }
    
    #content-related .module h2 {
        background: none;
        padding: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid #bfcfda;
        font-size: 18px;
        color: rgb(138, 8, 8);
    }
    
    #content {
        padding: 30px 60px 30px;
    }
    
    .dashboard #content {
        width: 500px;
    }
    
    a.section:link,
    a.section:visited {
        color: #fff;
        text-decoration: none;
        font-size: small;
    }
    
    #toolbar {
        padding: 8px 10px;
        margin-bottom: 15px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        background: #000000;
        color: #666;
    }
</style>


{% endblock %} {% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{FashionerAdmin|default:_('FashionerAdmin') }}</a></h1>
{% endblock %} {% block nav-global %}{% endblock %}